

<h5>
  {{rental.owner}}'s {{rental.type}} in {{rental.city}}
  {{#if isImageShowing}}
  <p>
    <img src={{rental.image}} alt={{rental.type}} {{action 'imageHide'}}>
  </p>
  {{else}}
  <button class="btn btn-info"{{action 'imageShow'}}>See image</button>
  {{/if}}
  {{update-rental rental=rental update="update"}}
  <button class="btn btn-sm btn-danger"{{action 'delete' rental}}>X</button>
</h5>
