<h1>Welcome to Super Rentals</h1>

<p>We hope you find exactly what you're looking for in a place to stay.</p>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental saveRental2="saveRental3"}}

<h2>All Reviews</h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{#link-to 'rental' review.rental.id}}<strong>{{review.rental.owner}}'s {{review.rental.type}}</strong> Rating: {{review.rating}} - {{review.content}} - by {{review.author}}{{/link-to}}</li>
  {{/each}}
</ul>
